  <header>
    <h1>
      {{ title }} 
    </h1>
    <p>
      Sponsored by mr.Oppenheimer
    </p>
  </header>
  <nav>
    <ul>
      <li>
        <div class="cloud">
          <a href='https://youtu.be/dQw4w9WgXcQ?si=QY5DBvtoVcqwpH2t'>Oh that was cruel dude</a>
        </div>
      </li>
      <li>
        <div class="cloud">
          <a href='https://youtu.be/KKO84c6SbfY?si=nE4XdsXDl4zQVioh'>Kenough</a>
        </div>
      </li>
      <li>
        <div class="cloud">
          <a href='https://youtu.be/vXYVfk7agqU?si_0NbD'>Mr Shrek</a>
        </div>
      </li>
    </ul>
    <br>
  </nav>
  <main>
    <section>
      <button id='DialogButt' mat-raised-button (click)="openDialog()" color="accent">Добавить</button>
      <table class="SigmaTable">
        <caption>
          <em>Кинотеатр</em>
        </caption>
        <tr>
          <th>Название фильма</th>
          <th>Название зала</th>
          <th>Дата показа</th>
          <th>Город</th>
          <th>Ваша кредитная карточка</th>
          <th>Удаление строки</th>
        </tr>
          @for (item of items; track item.FilmName) {
            <tr>
              <td>{{ item.FilmName }}</td>
              <td>{{ item.CinemaHall }}</td>
              <td>{{ item.Date }}</td>
              <td>{{ item.City }}</td>
              <td>{{ item.Tel }}</td>
              <td>
                <button id="deleteButton" (click)="deleteItem(item)">
                  <div id="ttt">
                    <img id='TrashBin' src="\assets\images\pink.png">
                  </div>
                </button>
              </td>
            </tr>
          }
      </table>
      <img id='BarbieManImg' 
      src="\assets\images\1_4_4.ico">
      <img id='RyanSadImg' 
      src="\assets\images\ryan-gosling-blade-runner2049.gif">
    </section>
  </main>
  <footer>
    <div id="AsuParody">
      <p>
        <span>По техническим вопросам просьба обращаться на почту </span>
        <span id="AsuColor">oasu&#64;gubkin.ru</span>
      </p>
    </div>
  </footer>